<div class="changePassword" id="changePasswordWrapper">
  <h2>Change Password</h2>
  <div class="section-separator">
    <div class="dialogContainer">
      <div class="changePasswordForm">
        <form role="form" name="employerChangePasswordForm" class="employerChangePasswordForm" novalidate="novalidate">
           <div class="form-group text-left"
            ng-class="{'has-error' : (employerChangePasswordForm.$submitted || employerChangePasswordForm.currentPassword.$touched || submitted ) && employerChangePasswordForm.currentPassword.$invalid && employerChangePasswordForm.currentPassword.$error.required }">
              <label for="currentPassword" class="hidden-xs">Current Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="currentPassword" id="currentPassword" ng-model="currentPassword" placeholder="Current Password" ng-required="true"/>
              <p class="help-block" ng-show="(employerChangePasswordForm.$submitted || employerChangePasswordForm.currentPassword.$touched || submitted ) && employerChangePasswordForm.currentPassword.$invalid && employerChangePasswordForm.currentPassword.$error.required">Current Password is required</p>
           </div>
           <div class="form-group text-left"
              ng-class="{'has-error' : (employerChangePasswordForm.$submitted || employerChangePasswordForm.newPassword.$touched || submitted ) && employerChangePasswordForm.newPassword.$invalid && employerChangePasswordForm.newPassword.$error.required || employerChangePasswordForm.newPassword.$error.pattern}">
              <label for="newPassword" class="hidden-xs">New Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="newPassword" id="txtNewPassword" ng-model="newPassword" placeholder="New Password"  ng-required="true"
              ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
              <p class="help-block" ng-show="(employerChangePasswordForm.$submitted || employerChangePasswordForm.newPassword.$touched || submitted ) && employerChangePasswordForm.newPassword.$invalid && employerChangePasswordForm.newPassword.$error.required">New Password is required</p>
              <p ng-show="employerChangePasswordForm.newPassword.$error.pattern" class="help-block">Minimum 8 characters at least 1 Alphabet, 1 Number and 1 Special Character</p>
           </div>
           <div class="form-group text-left"
              ng-class="{'has-error' : (employerChangePasswordForm.$submitted || employerChangePasswordForm.confirmPassword.$touched || submitted ) && employerChangePasswordForm.confirmPassword.$invalid && employerChangePasswordForm.confirmPassword.$error.required || employerChangePasswordForm.confirmPassword.$error.pwmatch}">
              <label for="confirmPassword" class="hidden-xs">Confirm Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="confirmPassword" id="txtConfirmPassword" ng-model="confirmPassword" placeholder="Confirm Password" ng-required="true" pw-check="txtNewPassword"/>
              <p class="help-block" ng-show="employerChangePasswordForm.confirmPassword.$error.pwmatch">Password don't match</p>
           </div>
           <div class="form-group signInForm-submitBtnwrapper">
              <input type="submit" class="btnSubmit"  value="Change Password" title="Change Password" ng-click="employerChangePasswordForm.$valid && onChangePasswordFormSubmit()">
              <input type="button" class="btnCancel" value="Back" ui-sref="employer.dashboard" />
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
