
<!-- Page Content -->
<div class="middle-section">
	<div class="employer_info">

		<div class="employer_info_title">
			<div class="container">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="" ng-click="employerFullProfileCtrl.switchTab('companyTab')" aria-controls="sec1" role="tab" data-toggle="tab">Company Info</a></li>
					<li role="presentation"><a href="" ng-click="employerFullProfileCtrl.switchTab('additionalTab')" aria-controls="sec2" role="tab" data-toggle="tab">Additional Info</a></li>
					<li role="presentation"><a href="" ng-click="employerFullProfileCtrl.switchTab('socialTab')" aria-controls="sec3" role="tab" data-toggle="tab">Social Links</a></li>
					<li role="presentation"><a href="" ng-click="employerFullProfileCtrl.switchTab('expertisTab')" aria-controls="sec4" role="tab" data-toggle="tab">Expertise</a></li>
				</ul>
			</div>
		</div>
	<!-- Tab panes -->
	<div class="container">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="companyTab">
				<form name="formFullProfile" novalidate>
				<div class="row">
					<div class="col-md-6" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.empName.$touched || submitted) && formFullProfile.empName.$error.required }">
						<label>Name<span>*</span></label>
						<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.name}}</span>
						<input ng-show="employerFullProfileCtrl.editCompanyInfo" name="empName" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.name" placeholder="Name" ng-required="true" />
						<p ng-show="(formFullProfile.$submitted || formFullProfile.empName.$touched || submitted) && formFullProfile.empName.$error.required" class="help-block">Name is required.</p>
					</div>
					<div class="col-md-6" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.mobileNo.$touched || submitted ) && formFullProfile.mobileNo.$invalid && formFullProfile.mobileNo.$error.required || formFullProfile.mobileNo.$error.minlength || formFullProfile.mobileNo.$error.maxlength || formFullProfile.mobileNo.$error.pattern}">
						<label>Contact Number<span>*</span></label>
						<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.contactNumber}}</span>
            <input ng-show="employerFullProfileCtrl.editCompanyInfo" class="form-control" type="text" name="mobileNo" ng-pattern="/^(0*[1-9]+0*)+$/" minlength="10" maxlength="10" placeholder="10 Digits Only" id="txtMobileNumber" value="" ng-model="employerFullProfileCtrl.result.contactNumber" ng-required="true">
            <p class="help-block" ng-show="(formFullProfile.$submitted || formFullProfile.mobileNo.$touched || submitted ) && formFullProfile.mobileNo.$invalid && formFullProfile.mobileNo.$error.required">Mobile number is mandatory.</p>
          	<p class="help-block" ng-show="(formFullProfile.$submitted || formFullProfile.mobileNo.$touched || submitted ) && formFullProfile.mobileNo.$invalid && formFullProfile.mobileNo.$error.minlength">Mobile number must be of 10 digits.</p>
            <p class="help-block" ng-show="formFullProfile.mobileNo.$error.pattern">Only numbers are allowed.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.address.$touched || submitted) && formFullProfile.address.$error.required }">
						<label>Address<span>*</span></label>
						<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.address}}</span>
						<input ng-show="employerFullProfileCtrl.editCompanyInfo" type="text" name="address" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.address" placeholder=""  ng-required="true" />
           	<p ng-show="(formFullProfile.$submitted || formFullProfile.address.$touched || submitted) && formFullProfile.address.$error.required" class="help-block">Address is required.</p>
        	</div>
					<div class="col-md-6" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.location.$touched || submitted) && formFullProfile.location.$error.required }">
						<label>Location<span>*</span></label>
						<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.location}}</span>
            <input  id="txtEmployer" ng-model="employerFullProfileCtrl.result.location" ng-show="employerFullProfileCtrl.editCompanyInfo" type="text" typeahead-on-select='employerProfileCtrl.doSomething(jobLocation)' id="Autocomplete2" class="form-control" name="location" ng-autocomplete options="options" details="details" placeholder="Enter your Location" ng-required="true" />
            <p ng-show="(formFullProfile.$submitted || formFullProfile.location.$touched || submitted) && formFullProfile.location.$error.required" class="help-block">Location is required.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Direct Line<span>*</span></label>
						<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.directLineNo}}</span>
						<input ng-show="employerFullProfileCtrl.editCompanyInfo" name="directNo"  maxlength="10" ng-pattern="/^(0*[1-9]+0*)+$/" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.directLineNo"  placeholder=""/>
            <p class="myerror" ng-show="formFullProfile.directNo.$error.pattern">Invalid number...!</p>
					</div>
					<div class="col-md-6">
						<label>Extension<span>*</span></label>
						<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.directLineExtn}}</span>
						<input width="100px" ng-show="employerFullProfileCtrl.editCompanyInfo" name="extNo" maxlength="4" ng-pattern="/^(0*[1-9]+0*)+$/" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.directLineExtn"  placeholder="Extension"/>
            <p class="myerror" ng-show="employerFullProfileCtrl.editCompanyInfo && formFullProfile.extNo.$error.pattern">Invalid number...!</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.compInfo.$touched || submitted) && formFullProfile.compInfo.$error.required }">
						<label>About Company<span>*</span></label>
						<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.aboutCompany}}</span>
						<textarea ng-show="employerFullProfileCtrl.editCompanyInfo" name="compInfo" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.aboutCompany"  placeholder="Maximum 200 Characters" maxlength="200" ng-required="true"></textarea>
						<p ng-show="(formFullProfile.$submitted || formFullProfile.compInfo.$touched || submitted) && formFullProfile.compInfo.$error.required" class="help-block">About company is required.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 button_style">
						<button class="btn_orange" ng-hide="employerFullProfileCtrl.editCompanyInfo" type="button" ng-click="employerFullProfileCtrl.editCompanyInfoBtn()" >Edit Company Info</button>
						<button class="btn_orange" ng-show="employerFullProfileCtrl.editCompanyInfo" type="submit" ng-click="formFullProfile.$valid && employerFullProfileCtrl.onProfileFormSubmit()">Save Company Info</button>
						<button class="btn_orange" ng-show="employerFullProfileCtrl.editCompanyInfo" type="button" ng-click="employerFullProfileCtrl.cancelCompanyInfo()">Cancel Company Info</button>

						<!-- <a class="btn_orange" href="#">Save</a> -->
						<a class="btn_blue floatR" href="" ng-click="employerFullProfileCtrl.switchTab('additionalTab')" aria-controls="sec2" role="tab" data-toggle="tab">Next</a>
					</div>
				</div>
			</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="additionalTab">
				<form action="">
					<div class="row">
						<div class="col-md-6" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.eDate.$touched || submitted) && formFullProfile.eDate.$error.required }">
							<label>Established Date<span>*</span></label>
							<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.establishedAt | amDateFormat:'YYYY-MM-DD'}}</span>
							<input class="Date select-date" ng-show="employerFullProfileCtrl.editCompanyInfo" name="eDate" type="text" uib-datepicker-popup="{{employerFullProfileCtrl.format}}" id="dtpPostDate" ng-model="employerFullProfileCtrl.result.establishedAt"  alt-input-formats="altInputFormats"  ng-required="true" />
							<p ng-show="(formFullProfile.$submitted || formFullProfile.eDate.$touched || submitted) && formFullProfile.eDate.$error.required" class="help-block">Establishment Date is required.</p>
						</div>
						<div class="col-md-6" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.revenue.$touched || submitted) && formFullProfile.revenue.$error.required }">
							<label>Current Revenue / Year<span>*</span></label>
							<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.revenue}}</span>
            	<input ng-show="employerFullProfileCtrl.editCompanyInfo" name="revenue" type="tel" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.revenue" placeholder=""placeholder="Enter URL with http://" ng-required="true" />
              <p ng-show="(formFullProfile.$submitted || formFullProfile.revenue.$touched || submitted) && formFullProfile.revenue.$error.required" class="help-block">Revenue is required.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" ng-class="{'has-error' : (formFullProfile.$submitted || formFullProfile.totalEmp.$touched || submitted) && formFullProfile.totalEmp.$error.required }">
							<label>Total Employees<span>*</span></label>
							<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.employeeCount}}</span>
                 <input ng-show="employerFullProfileCtrl.editCompanyInfo" name="totalEmp" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.employeeCount" placeholder="" ng-required="true" />
                 <p ng-show="(formFullProfile.$submitted || formFullProfile.totalEmp.$touched || submitted) && formFullProfile.totalEmp.$error.required" class="help-block">Total Employee is required.</p>
						</div>
						<div class="col-md-6">
							<label>Certificates</label>
							<span ng-hide="employerFullProfileCtrl.editCompanyInfo" class="span-control setHeight" id="spnEmployer">{{employerFullProfileCtrl.result.certifications}}</span>
							<select>
								<option>Select your certificate</option>
								<option>Certificate One</option>
								<option>Certificate Two</option>
								<option>Certificate Three</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 button_style">
							<button class="btn_orange" ng-hide="employerFullProfileCtrl.editCompanyInfo" type="button" ng-click="employerFullProfileCtrl.editCompanyInfoBtn()">Edit Company Info</button>
					 		<button class="btn_orange" ng-show="employerFullProfileCtrl.editCompanyInfo" type="submit" ng-click="formFullProfile.$valid && employerFullProfileCtrl.onProfileFormSubmit()">Save Company Info</button>
					 		<button class="btn_orange" ng-show="employerFullProfileCtrl.editCompanyInfo" type="button" ng-click="employerFullProfileCtrl.cancelCompanyInfo()">Cancel Company Info</button>

							<!-- <a class="btn_orange" href="#">Save</a> -->
							<a class="btn_orange" href="" ng-click="employerFullProfileCtrl.switchTab('companyTab')" >Back</a>
							<a class="btn_blue floatR" href="" ng-click="employerFullProfileCtrl.switchTab('socialTab')" >Next</a>
						</div>
					</div>
				</form>
			</div>
			<div role="tabpanel" class="tab-pane social_links" id="socialTab">
				<form action="">
					<div class="row">
						<div class="col-md-6" ng-class="{'has-error' : (formFullProfileSocial.$submitted || formFullProfileSocial.fbook.$touched || submitted) && formFullProfileSocial.fbook.$error.url }">
							<label>Facebook</label>
							<div class="input-group">
								<span class="input-group-addon" id="fb">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</span>
								<span ng-hide="employerFullProfileCtrl.editSocialInfo"  class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.facebook}}</span>
								<input ng-show="employerFullProfileCtrl.editSocialInfo" name="fbook" placeholder="http://" aria-describedby="fb" type="url" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.facebook" />
                <p class="myerror" ng-show="formFullProfileSocial.fbook.$error.url">Invalid URL...!</p>
							</div>
						</div>
						<div class="col-md-6" ng-class="{'has-error' : (formFullProfileSocial.$submitted || formFullProfileSocial.gplus.$touched || submitted) && formFullProfileSocial.gplus.$error.url }">
							<label>Google Plus</label>
							<div class="input-group">
								<span class="input-group-addon" id="gmail">
									<i class="fa fa-google-plus" aria-hidden="true"></i>
								</span>
								<span ng-hide="employerFullProfileCtrl.editSocialInfo"  class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.googlePlus}}</span>
								<input ng-show="employerFullProfileCtrl.editSocialInfo" name="gplus"  type="url" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.googlePlus" placeholder="http://" aria-describedby="gmail"/>
                <p class="myerror" ng-show="formFullProfileSocial.gplus.$error.url">Invalid URL...!</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" ng-class="{'has-error' : (formFullProfileSocial.$submitted || formFullProfileSocial.twitter.$touched || submitted) && formFullProfileSocial.twitter.$error.url }">
							<label>Twitter</label>
							<div class="input-group">
								<span class="input-group-addon" id="tw">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</span>
								<span ng-hide="employerFullProfileCtrl.editSocialInfo"  class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.twitter}}</span>
               	<input ng-show="employerFullProfileCtrl.editSocialInfo" name="twitter"  type="url" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.twitter"  placeholder="http://" aria-describedby="tw" />
               	<p class="myerror" ng-show="formFullProfileSocial.twitter.$error.url">Invalid URL...!</p>
							</div>
						</div>
						<div class="col-md-6" ng-class="{'has-error' : (formFullProfileSocial.$submitted || formFullProfileSocial.linked.$touched || submitted) && formFullProfileSocial.linked.$error.url }">
							<label>Linked In</label>
							<div class="input-group">
								<span class="input-group-addon" id="in">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</span>
								<span ng-hide="employerFullProfileCtrl.editSocialInfo"  class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.linkedIn}}</span>
               	<input ng-show="employerFullProfileCtrl.editSocialInfo" name="linked"  type="url" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.linkedIn" placeholder="http://" aria-describedby="in"/>
                <p class="myerror" ng-show="formFullProfileSocial.linked.$error.url">Invalid URL...!</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" ng-class="{'has-error' : (formFullProfileSocial.$submitted || formFullProfileSocial.website.$touched || submitted)  && formFullProfileSocial.website.$error.required && formFullProfileSocial.website.$error.url }">
							<label>Website</label>
							<div class="input-group">
								<span class="input-group-addon" id="website">
									<i class="fa fa-globe" aria-hidden="true"></i>
								</span>
								<span ng-hide="employerFullProfileCtrl.editSocialInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.website}}</span>
                 <input ng-show="employerFullProfileCtrl.editSocialInfo" type="url" name="website" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.website" ng-required="true"  placeholder="http://" aria-describedby="website"/>
                 <p class="myerror" ng-show="formFullProfileSocial.website.$error.url">Invalid Website...!</p>
                 <p class="myerror" ng-show="formFullProfileSocial.website.$error.required">Website is mandatory.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 button_style">
							<button class="btn_orange" ng-hide="employerFullProfileCtrl.editSocialInfo" type="button" ng-click="employerFullProfileCtrl.editSocialInfoBtn()">Edit Social Info</button>
					 		<button class="btn_orange" ng-show="employerFullProfileCtrl.editSocialInfo" type="button" ng-click="formFullProfileSocial.$valid && employerFullProfileCtrl.onProfileFormSubmit()">Save Social Info</button>
					 		<button class="btn_orange" ng-show="employerFullProfileCtrl.editSocialInfo" type="button" ng-click="employerFullProfileCtrl.cancelSocialInfo()">Cancel Social Info</button>

							<!-- <a class="btn_orange" href="#">Save</a> -->
							<a class="btn_orange" href="" ng-click="employerFullProfileCtrl.switchTab('additionalTab')">Back</a>
							<a class="btn_blue floatR" href="" ng-click="employerFullProfileCtrl.switchTab('expertisTab')">Next</a>
						</div>
					</div>
				</form>
			</div>
			<div role="tabpanel" class="tab-pane" id="expertisTab">
				<form action="">
					<div class="row">
						<div class="col-md-12">
							<label>Doing Services In</label>
							<span ng-hide="employerFullProfileCtrl.editExpertiseInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.service}}</span>
              <input ng-show="employerFullProfileCtrl.editExpertiseInfo" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.service" placeholder=""/>
						</div>
					</div>
					<div class="row expert">
						<div class="col-md-12"><label>Expert In</label></div>
						<div class="col-md-12">
							<span ng-hide="employerFullProfileCtrl.editExpertiseInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.expert}}</span>
              <input ng-show="employerFullProfileCtrl.editExpertiseInfo" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.expert" placeholder=""/>
						</div>
						<!-- <div class="col-md-6">
							<input type="text" placeholder="" />
							<input type="text" placeholder="" />
						</div> -->
					</div>
					<div class="row expert">
						<div class="col-md-12"><label>Major Clients In</label></div>
						<div class="col-md-12">
							<span ng-hide="employerFullProfileCtrl.editExpertiseInfo" class="span-control" id="spnEmployer">{{employerFullProfileCtrl.result.majorClient}}</span>
              <input ng-show="employerFullProfileCtrl.editExpertiseInfo" type="text" class="form-control" id="txtEmployer" ng-model="employerFullProfileCtrl.result.majorClient" placeholder=""/>
						</div>
						<!-- <div class="col-md-6">
							<input type="text" placeholder="" />
							<input type="text" placeholder="" />
						</div> -->
					</div>
					<p>&nbsp;</p>
					<div class="row">
						<div class="col-md-12 button_style">
							<button ng-hide="employerFullProfileCtrl.editExpertiseInfo" type="button" ng-click="employerFullProfileCtrl.editExpertiseInfoBtn()" class="btn_orange" >Edit Expertise Info</button>
					 		<button ng-show="employerFullProfileCtrl.editExpertiseInfo" type="button" ng-click="employerFullProfileCtrl.onProfileFormSubmit()" class="btn_orange" >Save Expertise Info</button>
					 		<button ng-show="employerFullProfileCtrl.editExpertiseInfo" type="button" ng-click="employerFullProfileCtrl.cancelExpertiseInfo()" class="btn_orange" >Cancel Expertise Info</button>

							<a class="btn_orange" href="" ng-click="employerFullProfileCtrl.switchTab('socialTab')">Back</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	</div>
</div>


<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('.icon').click(function () {
		jQuery('.search').toggleClass('expanded');
	});

	jQuery('.button_style a').click(function (e) {
	  e.preventDefault()
	  jQuery(this).tab('show')
	});
	jQuery('.select-date').datepicker({
		format: 'mm-dd-yyyy'
	});
});
</script>
