<div class="row">
  <div class="col-xs-12 separatorJobs">
    <div class="big-boxes">
      <div class="row">
        <h4 class="text-center">Change Password</h4>
        <hr>
      </div>
      <div class="row">
        <div class="employer-add-new-job employer-all-pages container-fluid" id="inviteTeam">
          <form id="formChangePassword" name="teamChangePasswordForm" autocomplete="off" class="row" novalidate="novalidate"
            ng-submit="teamChangePasswordForm.$valid && teamMembersChangePassCtrl.updatePassword(teamChangePasswordForm.$valid)">
            <div class="employer-fields-section" >
              <div class="row">
                <div class="form-group col-sm-9"
                ng-class="{'has-error' : (teamChangePasswordForm.$submitted || teamChangePasswordForm.password.$touched || submitted) && teamChangePasswordForm.password.$invalid && teamChangePasswordForm.password.$error.required
                || teamChangePasswordForm.password.$error.pattern }">
                  <span class="labelValue col-sm-5 pull-left">New Password:<span class="estricSign">*</span></span>
                  <span class="textValue col-sm-7">
                    <input type="password" class="form-control" name="password" id="txtNewPassword" ng-model="teamMembersChangePassCtrl.defaultTeamMember.password" placeholder="Password" ng-required="true"
                    ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                    <p ng-show="(teamChangePasswordForm.$submitted || teamChangePasswordForm.password.$touched || submitted) && teamChangePasswordForm.password.$invalid && teamChangePasswordForm.password.$error.required" class="help-block">Password is required.</p>
                    <p ng-show="teamChangePasswordForm.password.$error.pattern" class="help-block">Minimum 8 characters at least 1 Alphabet, 1 Number and 1 Special Character</p>
                  </span>
                </div>
                <div class="form-group col-sm-9" ng-class="{'has-error' : (teamChangePasswordForm.$submitted || teamChangePasswordForm.confirmPassword.$touched || submitted) && teamChangePasswordForm.confirmPassword.$invalid && teamChangePasswordForm.confirmPassword.$error.required || teamChangePasswordForm.confirmPassword.$error.pwmatch}">
                  <span class="labelValue col-sm-5 pull-left">Re Enter New Password:<span class="estricSign">*</span></span>
                  <span class="textValue col-sm-7">
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="teamMembersChangePassCtrl.defaultTeamMember.confirmPassword" placeholder="Confirm Password" ng-required="true" pw-check="txtNewPassword"/>
                    <p ng-show="teamChangePasswordForm.confirmPassword.$error.pwmatch" class="help-block">Passwords don't match.</p>
                    <p ng-show="(teamChangePasswordForm.$submitted || teamChangePasswordForm.confirmPassword.$touched || submitted) && teamChangePasswordForm.confirmPassword.$invalid && teamChangePasswordForm.confirmPassword.$error.required" class="help-block">Confirm Password is required.</p>
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="form-group  col-lg-9 addNewJobForm">
                  <span class="labelValue col-sm-5 pull-left"></span>
                  <span class="textValue col-sm-7">
                    <input type="submit" class="btnSubmit" ng-disabled="isDisabled" value="Submit" title="Submit">&nbsp;
                    <input type="button" class="btnSubmit" ng-click="teamMembersChangePassCtrl.cancel()" value="Cancel" title="Cancel">
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
