<div class="forgotPasswordRegisteration" id="resetPasswordWrapper">
  <div  ng-controller="LoginCtrl" ng-include src ="'views/logoLoginForm.html'"></div>
  <div class="section-separator">
    <div class="dialogContainer">
      <div class="resetPasswordForm">
        <div class="pageTitle"><h2>Reset Password</h2></div>
        <form role="form" name="resetPasswordForm" class="resetPasswordForm" novalidate>
          <div class="form-group text-left"
              ng-class="{'has-error' : (resetPasswordForm.$submitted || resetPasswordForm.newPassword.$touched || submitted ) && resetPasswordForm.newPassword.$invalid && resetPasswordForm.newPassword.$error.required || resetPasswordForm.newPassword.$error.pattern }">
              <label for="newPassword" class="hidden-xs">New Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="newPassword" id="txtNewPassword" ng-model="newPassword" placeholder="New Password"  ng-required="true"
              ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
              <p class="help-block" ng-show="(resetPasswordForm.$submitted || resetPasswordForm.newPassword.$touched || submitted ) && resetPasswordForm.newPassword.$invalid && resetPasswordForm.newPassword.$error.required">New Password is required</p>
              <p ng-show="resetPasswordForm.newPassword.$error.pattern" class="help-block">Minimum 8 characters at least 1 Alphabet, 1 Number and 1 Special Character</p>
           </div>
           <div class="form-group text-left"
              ng-class="{'has-error' : (resetPasswordForm.$submitted || resetPasswordForm.confirmPassword.$touched || submitted ) && resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$error.required || resetPasswordForm.confirmPassword.$error.pwmatch}">
              <label for="confirmPassword" class="hidden-xs">Confirm Password:</label><span class="estricSign">*</span>
              <input type="password" class="form-control" name="confirmPassword" id="txtConfirmPassword" ng-model="confirmNewPassword" placeholder="Confirm Password" ng-required="true" pw-check="txtNewPassword"/>
              <p class="help-block" ng-show="(resetPasswordForm.$submitted || resetPasswordForm.confirmPassword.$error.pwmatch || resetPasswordForm.confirmPassword.$touched || submitted ) && resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$error.required">Confirm Password is required</p>
           </div>
           <div class="form-group signInForm-submitBtnwrapper">
              <input type="submit" class="btnSubmit" ng-disabled="isDisabled" value="Submit" title="Submit" ng-click="resetPasswordForm.$valid && onResetPasswordFormSubmit()">
              <input type="button" class="btnCancel" ng-disabled="isDisabled" value="Cancel" title="Cancel" ui-sref="home">
           </div>
        </form>
      </div>
    </div>
  </div>
</div>
