<div class="forgotPasswordRegisteration" id="forgotPasswordWrapper">
  <div ng-controller="LoginCtrl" ng-include src ="'views/logoLoginForm.html'"></div>
  <div ng-controller="AboutUsCtrl as aboutUsCtrl" class="section-separator">
    <div class="">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="forgotPasswordForm">
          <div class="pageTitle"><h2>About us</h2></div>
          <div>
            <video width="100%" height="auto" controls>
              <source src="images/demo.mp4"  type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div>
            <h3>Public jobs</h3>
          </div>

            <p>Subcontract.com is an online service provider catering to staffing firms, recruitment agencies, consulting firms and outsourcers. The company provides the first and only "staffing exchange" which is a communications platform to execute inter-vendor strategies and transactions within a community of regional, national and global vendors. It's a great platform for the Consultants or Job Seekers who can have best possibilities to market their profiles to get jobs immediately as well to promote their profiles to the best vendors of the staffing industry.</p>
            <br />
            <p>Subcontract.com is more targeting for strategic alliances and supplier diversity across job industry as a core functionality, this obtains for a minimize workflow and workload impact and to provide a robust risk reduction and dispute arbitration. Although demand for such services increases during candidate shortage markets, Subcontract.com has developed in such a way of refining to focus on each customer's specific inter-vendor related needs, thereby maintaining sales growth despite an extended period of high fill rates.</p>
            <br />
            <p>Today Subcontract.com is well known throughout the staffing industry as an accomplished and fast-growing platform for inter-vendor communications and candidate placement.</p>
          </div>

      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
