<div class="apply_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  	<div class="model-lg" role="document">
  		<div class="modal-content">
  			<div class="modal-header">
  				<button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
  				<h4 class="modal-title" id="myModalLabel">Select Candidate for Apply</h4>
  			</div>
  			<div class="modal-body">
          <div ng-show="candidates.length <= 0">
            <h4>No Candidates to apply</h4>
          </div>
  				<div ng-show="candidates.length > 0" class="row candidate" ng-repeat="candidate in candidates">
  					<div class="col-md-4 col-sm-4 col-xs-12">
  						<div class="cand_photo">
  							<img src="images/candidate1.jpg" alt="candidate1" />
  						</div>
  						<h4>{{candidate.firstName}} {{candidate.lastName}}</h4>
  					</div>
  					<div class="col-md-4 col-sm-4 col-xs-12">
  						<p ng-repeat="skillName in candidate.candidateSkills">{{skillName.skillSetName}}</p>
  					</div>
  					<div class="col-md-3 col-sm-3 col-xs-12">
  						<p>Ex: {{candidate.candidateSkills[0].experience}}+ Years</p>
  					</div>
  					<div class="col-md-1 col-sm-1 col-xs-12">
  						<input type="checkbox" ng-click="selectCandidate(candidate.candidateId, candidate.checked)" ng-model="candidate.checked"/>
  					</div>
            <hr />
  				</div>

  			</div>
  			<div class="modal-footer">
  				<button type="button" ui-sref="employer.addNewCandidate" class="share_job"><i class="fa fa-user-plus" aria-hidden="true"></i> Add a Candidate</button>
  				<button type="button" ng-click="applyCandidateForJob()" class="btn_orange">Submit</button>
  			</div>
  		</div>
  	</div>
  </div>



  <!-- <div class="modal-header">
    <h4>Select Candidate For Apply
      <p class="pull-right" ng-click="close()">X</p>
    </h4>
  </div>
  <div class="modal-body">
    <div ng-show="candidates.length <= 0">
      <h4>No Candidates to apply</h4>
    </div>
    <div ng-show="candidates.length > 0">
      <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-12">

        </div>
      </div>
      <div class="row candidate-row" ng-repeat="candidate in candidates">
        <div class="col-md-1">
          <input type="checkbox" ng-click="selectCandidate(candidate.candidateId, candidate.checked)" ng-model="candidate.checked"/>
        </div>
        <div class="col-md-3">
          <i class="glyphicon glyphicon-user"></i> {{candidate.firstName}} {{candidate.lastName}}
        </div>
        <div class="col-md-8">

          <span ng-repeat="skillName in candidate.candidateSkills">
            <i class="glyphicon glyphicon-star"></i>{{skillName.skillSetName}} ({{skillName.experience}}+ Years) &nbsp;
          </span>
        </div>
        <!-- <div class="col-md-4">
          <i class="glyphicon glyphicon-calendar"></i> {{candidate.candidateSkills[0].experience}}+ Years
        </div> -->
      <!-- </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info pull-left" ui-sref="employer.addNewCandidate">Click to Add a Candidate</button>
    <button class="btn btn-primary text-right" ng-click="close()">Close</button>
    <button class="btn btn-primary text-right" ng-click="applyCandidateForJob()">Click to Submit</button>
  </div>
   -->
