<div class="forgotPasswordRegisteration" id="forgotPasswordWrapper">
  <div ng-controller="LoginCtrl" ng-include src ="'views/logoLoginForm.html'"></div>
  <div class="section-separator">
    <div class="">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
      <div class="forgotPasswordForm">
        <div class="pageTitle"><h2>Contact us</h2></div>
        <div class="">
          <div class="col-xs-7 no-padding borderBox">
            <ng-map center="40.013739,-75.822057" zoom="16">
              <marker position="[40.013739,-75.822057]"></marker>
            </ng-map>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-4 borderBox">
            <div class="headContact">Contact Details</div>
            <div class="Address">
              #68 Landover Dr. West Brandywine, <br />
              PA - 19320. <br />
              Ph: +1 (877) 738 7227 <br />
            </div>
            <div class="headContact">Send us an email : </div>
            <div class="emails">
              Client Support:

              <a href="mailto:support@subcontract.com">support@subcontract.com</a>
               <br />
              Web Questions:
              <a href="mailto:feedback@subcontract.com">feedback@subcontract.com</a>  <br />
            </div>
          </div>
        </div>
      </div>
    </div>
          <div class="col-sm-1"></div>
    </div>
  </div>
</div>
