<!-- Page Content -->
<div class="middle-section">
	<div class="employer_info view_jobs">
		<div class="employer_info_title"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="job-list">
						<div class="job-info">
							<div class="job-info-image"> <img src="images/img1.jpg" alt="img1" /> </div>
							<div class="jb-info">
								<div class="sec-one">
									<h6>{{viewJobCtrl.result.employmentType}}</h6>
									<h5><i class="fa fa-clock-o" aria-hidden="true"></i> {{viewJobCtrl.result.closingAt}}</h5>
									<span>POSTED {{viewJobCtrl.result.createdAt | dateToCustomString }}</span> </div>
								<h1>{{viewJobCtrl.result.jobTitle}}</h1>
								<ul>
									<li><i class="fa fa-map-signs" aria-hidden="true"></i> {{viewJobCtrl.result.location}}</li>
									<li><i class="fa fa-tags" aria-hidden="true"></i> {{viewJobCtrl.result.skill}}</li>
									<li><i class="fa fa-industry" aria-hidden="true"></i> {{viewJobCtrl.result.industry}}</li>
								</ul>
								<p>Salary: <i class="fa fa-inr" aria-hidden="true"></i> {{viewJobCtrl.result.salaryFrom}} - <i class="fa fa-inr" aria-hidden="true"></i> {{viewJobCtrl.result.salaryTo}} p/m | Ex: {{viewJobCtrl.result.expFrom}} - {{viewJobCtrl.result.expTo}}+ Years <span><i class="fa fa-eye" aria-hidden="true"></i> 25</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<h3>Job Description</h3>
			<!-- <p>Dear Candidates,<br /> -->
				{{viewJobCtrl.result.jobDesc}}</p>
			<!-- <p>Responsibilities</p>
			<ol>
				<li>Will be responsible for determining customer market needs, growing selection across sub-categories, brands and use cases,</li>
				<li>Managing vendor partners, optimizing vendor terms and getting support for marketing campaigns.</li>
				<li>Pricing and Demand generation: Responsible for pricing and demand generation. This includes </li>
				<li>working with other members on the category management team to come up with innovative promotions and site features to improve cus	tomer experience. </li>
				<li>Business planning and communication to senior management: Develop a short-term and long-term plan for growth and report to Senior 	Management on a regular basis on the state of key top-line and bottom-line metrics and risk factors.</li>
				<li>Innovation: Invent and drive continuous process improvement and automation across our systems to allow us to scale a fast growing business.</li>
				<li>2-3 years of relevant experience in sales manager / account manager/vendor manager role desired</li>
			</ol> -->
			<hr />
			<h3>Information</h3>
			<ul>
				<li><span>Rate/Salary Range</span><section>:</section>   INR {{viewJobCtrl.result.salaryFrom}} - {{viewJobCtrl.result.salaryTo}} P.A.</li>
				<li><span>Experience</span><section>:</section>   {{viewJobCtrl.result.expFrom}} - {{viewJobCtrl.result.expTo}} yrs</li>
				<li><span>Number of positions</span><section>:</section>  {{viewJobCtrl.result.noOfPosition}}</li>
				<li><span>Employment type</span><section>:</section>  {{viewJobCtrl.result.employmentType}}</li>
				<li><span>Requirement type</span><section>:</section> {{viewJobCtrl.result.requirementType}}</li>
				<li><span>Functional Area</span><section>:</section>  {{viewJobCtrl.result.functionalArea}}</li>
				<li><span>Industry</span><section>:</section> {{viewJobCtrl.result.industry}}</li>
				<li><span>Contract Terms</span><section>:</section> {{viewJobCtrl.result.contractTerms}}</li>
				<li><span>Travel Type</span><section>:</section> {{viewJobCtrl.result.travelType}}</li>
				<li><span>Remote</span><section>:</section>   {{viewJobCtrl.result.remote}}</li>
			</ul>
			<hr />
			<h3>Keyskills</h3>
			<ul class="key_skills">
				<li ng-repeat="skills in viewJobCtrl.result.skillDtos">{{skills.skillName}} </li>
			</ul>
			<hr />
			<h3>Desired Candidate Profile</h3>
			<h6>Qualification</h6>
			<ul>
				<li><span>UG</span><section>:</section> {{viewJobCtrl.result.qualification}} </li>
				<li><span>PG</span><section>:</section>   MBA/PGDM - Any Specialization</li>
				<li><span>Doctorate</span><section>:</section>   Doctorate Not Required</li>
			</ul>
			<div class="row">
				<div class="all_key clearfix">
					<div class="col-md-3 keys">
						<h3>keywords:</h3>
						<p>{{viewJobCtrl.result.keywords}}</p>
					</div>
					<div class="col-md-3 keys">
						<h3>Job Visibility:</h3>
						<p><span>{{viewJobCtrl.result.visibility}}</span></p>
					</div>
					<div class="col-md-3 keys">
						<h3>keywords:</h3>
						<p><strong>Posted 2Days Ago</strong> <a class="k_date" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Closing Date"><i class="fa fa-clock-o" aria-hidden="true"></i> 21.02.2017</a></p>
					</div>
					<div class="col-md-3 keys">
						<h3>keywords:</h3>
						<p><span>{{viewJobCtrl.result.refreshJob}}</span></p>
					</div>
				</div>
			</div>
			<h3>Company Profile</h3>
			<ul>
				<li><span>Company</span><section>:</section> {{viewJobCtrl.result.aboutCompany}}</li>
				<li><span>Recruiter Name</span><section>:</section>{{viewJobCtrl.result.employerName}}</li>
				<li><span>Email</span><section>:</section> {{viewJobCtrl.result.recruiterAssignedName}}</li>
			</ul>
			<br />
			<div class="row">
				<div class="col-md-12"> <a class="share_job floatL" ng-click="viewJobCtrl.shareJob(viewJobCtrl.result)"><i class="fa fa-share-alt" aria-hidden="true"></i> Share A Job</a> <a ng-click="viewJobCtrl.openCandidates()" class="btn_orange floatR" data-toggle="modal" data-target=".bs-example-modal-lg">Apply</a> <a class="btn_orange floatR" ng-click="viewJobCtrl.backToDashboard()">Back</a> </div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="modal fade bs-example-modal-lg apply_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
				<h4 class="modal-title" id="myModalLabel">Select Candidate for Apply</h4>
			</div>
			<div class="modal-body">
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate1.jpg" alt="candidate1" />
						</div>
						<h4>Christine Gateau</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Sr. Graphics Designer</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate2.jpg" alt="candidate1" />
						</div>
						<h4>John Doe</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Team of PHP MySQL Developers</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate3.jpg" alt="candidate1" />
						</div>
						<h4>Sebastian Reynolds</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Nodejs,Angularjs Developer</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate4.jpg" alt="candidate1" />
						</div>
						<h4>Sienna Barnes</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Software Developer</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate1.jpg" alt="candidate1" />
						</div>
						<h4>Christine Gateau</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Sr. Graphics Designer</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate2.jpg" alt="candidate1" />
						</div>
						<h4>John Doe</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Team of PHP MySQL Developers</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate3.jpg" alt="candidate1" />
						</div>
						<h4>Sebastian Reynolds</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Nodejs,Angularjs Developer</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
				<div class="row candidate">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="cand_photo">
							<img src="images/candidate4.jpg" alt="candidate1" />
						</div>
						<h4>Sienna Barnes</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<p>Software Developer</p>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<p>Ex: 0 - 3+ Years</p>
					</div>
					<div class="col-md-1 col-sm-1 col-xs-12">
						<input type="checkbox" />
					</div>
				</div>
				<hr />
			</div>
			<div class="modal-footer">
				<button type="button" class="share_job"><i class="fa fa-user-plus" aria-hidden="true"></i> Add a Candidate</button>
				<button type="button" class="btn_orange">Submit</button>
			</div>
		</div>
	</div>
</div> -->
